.messageText {
    width:fit-content;
    height:fit-content;

    color: #f3f363;
    position: fixed;
    top: 30%;
    left: 80%;
     transform: translate(-50%, -50%);
    font-size: calc(22px + 2vmin);
    padding:1rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.73);
    }

.messagePlayerText{
    width:fit-content;
    height:fit-content;
    color:#39a7b4;
    position: fixed;
    top: 30%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: calc(20px + 2vmin);
    padding:1rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.73);
}

.show {
    display: block;
    animation: message-animation 100ms forwards ease-in-out;
}

