:root {
    --color-grey:#3E464D;

}
a{
    text-decoration: none;
}

.GameApp {
    /*width:100vmin;*/
    /*height:100vmin;*/
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding:0;
    /*background: orangered;*/

}

.bolder {
    color:#ea3a3a;
    border:red 1px solid
}