.Room{
    width: 100%;
    height: 100vh;
    font-family: 'Kreon', serif;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    position: relative;
    opacity: 0.3;
    animation: fade-in 1s ease-in forwards;


}

.Room-img-div{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -100;
}

.Room-img {
    width:100%;
    height: 100%;
    object-fit: cover;
    /*position: absolute;*/
    /*z-index: -200;*/
    /*position: fixed;*/
    /*z-index: -10;*/
}
.filler-div {
    width:30%;

}
.player--div {
    /*height: 70%;*/

}

.enemy-div {
    /*width:50%;*/
    /*height:100%*/
}



@keyframes fade-in {
    to{
        opacity: 1;
    }
}

.message-div{
  position: fixed;

}

.showMessage {
    /*display: block;*/
    animation: message-animation 150ms forwards ease-in-out;
}

.hideMessage {
    animation: message-animation 1500ms reverse ease-in-out;
    display: none;
}

@keyframes message-animation {
    from{
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}