.map {
    width:auto;
     /*max-height:40%;*/
    height: fit-content;
    box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0 18px 36px -18px inset;
    /*background: #a2a272;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 30;
    background-color: #282c34;
    background: url('../../../public/assets/images/backgrounds/map10.jpg')no-repeat center center/cover;
    opacity: 0;
    animation: fade-in 100ms forwards ease-in-out;
    border:15px solid #282c34;
    /*position: fixed;*/


}
.map h1 {
    color:#c5c561;
    text-shadow: #282c34 1px 1px 2px ;

}
.rooms-div{
    width:100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*position: fixed;*/
    /*min-width:100%;*/
    /*min-height:100%;*/
}
.rooms-div .row {
    width:100%;
    height: fit-content;
}

.button2 {
    /*transform: translateX(80px);*/
    margin-left:80px
}
.button3 {
    /*transform: translateX(-80px);*/
    margin-right:80px
}
.button4 {
    /*transform: translateX(80px);*/
    margin-left:80px
}
.button5 {
    /*transform: translateX(-60px);*/
    margin-right:-60px
}

.finished {

    background: #2d2d2d;
    background: url('../../../public/assets/images/ui/cracks1.jpeg')no-repeat center center/cover;

}
@keyframes fade-in {
    to{
        opacity: 1;
    }
}