.map {
    min-width:100vw;
    min-height:100vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0 18px 36px -18px inset;
    background: #a2a272;
    background: url('../../../public/assets/images/backgrounds/homepage1.jpg')no-repeat center center/cover;
}

.rooms-div{
    /*min-width:100%;*/
    /*min-height:100%;*/
}