.map {
    min-width:100vw;
    min-height:100vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0 18px 36px -18px inset;
    /*background: #a2a272;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 30;
    background: rgba(250, 221, 24, 0.49);
}
.map::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: url('../../../public/assets/images/backgrounds/map7.png')no-repeat center center/cover;
    z-index: -100;
}
.rooms-div{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*min-width:100%;*/
    /*min-height:100%;*/
}
.rooms-div .row {
    width:100%;
    height: 100%;
}