a{
    color:#c5c561;
    text-shadow: 1px 1px 1px black;
    font-size: 35px;
    white-space: nowrap;
    height:50%;
}

.drop-down-menu {
    overflow-y: scroll;
    overflow-x: hidden;
    height:80%;
    width: 50%;
    max-height:500px;
    max-width:700px;
    /*width: fit-content;*/
    position: fixed;
    top: 10%;
    left: 30%;
    transform: translate(-50%, -50%);
    /*transform: translateY(-900px);*/
    background: rgba(0, 0, 0, 0.91);
    border: 8px solid rgba(46, 115, 129, 0.56);
    border-radius: 10px;
}

.drop-down-menu p {
    width:50%;
    font-size: calc(8px + 1vw);
    display: flex;
    justify-content: center;
}

.drop-down-item {
    width: 100%;
    height:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 200ms ease-in-out;
    padding-left:10px
}
.drop-down-item img {
    border: #adadad 1px solid;
}
.drop-down-item:hover{
    cursor: pointer;
    background: rgba(197, 197, 97, 0.37);
}

.drop-down-player {
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    border: #c5c561 1px solid;
    width:100%;
    /*height: 20%;*/
}
.drop-down-player:hover {
    cursor: pointer;
    /*border: #c5c561 2px solid;*/
}

.thumbnail {
    width:calc(10px + 5%);
    height: calc(10px + 5%);
    /*width:1/0%;*/
    object-fit: cover;
}