a{
    color:#c5c561;
    text-shadow: 1px 1px 1px black;
    font-size: calc(10px + 1vmin);
    white-space: nowrap;
    height:50%;
}

.player-link  {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}
.drop-down-menu {
    overflow-y: scroll;
    overflow-x: hidden;
    height:80%;
    width: 50%;
    max-height:500px;
    max-width:700px;
    position: fixed;
    top: 10%;
    left: 30%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.91);
    border: 8px solid rgba(46, 115, 129, 0.56);
    border-radius: 10px;
    z-index: -100;

}

.drop-heading {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drop-down-menu p {
    width:50%;
    font-size: calc(8px + 1vw);
    display: flex;
    justify-content: center;
}

.drop-down-item {
    min-width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 200ms ease-in-out;
    padding-left:10px
}

.drop-down-item img {
    border: #adadad 1px solid;
}

.drop-down-item:hover{
    cursor: pointer;
    background: rgba(197, 197, 97, 0.37);
}

.drop-down-player {
    border: #c5c561 1px solid;
    width:100%;
    /*height: 20%;*/
    display: flex;
    justify-content: center;
}
.drop-down-player:hover {
    cursor: pointer;
    /*border: #c5c561 2px solid;*/
}

.thumbnail {
    width:calc(10px + 5%);
    height: calc(10px + 5%);
    /*width:1/0%;*/
    object-fit: cover;
}

.showEdit {
    display: flex;

}

.hide {
    display: none;
}

@media only screen and (max-width: 1000px) {
    .drop-down-menu {
        height:80%;
        width: 40%;
        /*max-height:500px;*/
        max-width:300px;
        position: fixed;
        top: 10%;
        left: 2%;
        transform: translate(-15%, -50%);
    }
    .drop-heading {
        width:100%;
        display: flex;
        justify-content: space-around ;
        align-items: center;
    }
    .drop-down-menu p{
        width:fit-content;
        font-size: calc(5px + 1vw);
    }
    .drop-down-item {
        width: fit-content;
        height:100%;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        padding-left:15px
    }
    .drop-down-item img {
        border: #adadad 1px solid;
    }

}
