.navbar {
    margin-top:10px;
    width:100%;
    height:50px;
    background: #655f5f;
    /*background: var(--color-grey);*/
    display: flex;
    justify-content:space-between ;
    align-items: center;
    position: absolute;
    top:10px;
    font-family: 'Kreon', serif;
    box-shadow: rgba(50, 50, 93, 0.25) 0  30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0  18px 36px -18px inset;

}

.navbar-item {
    width: fit-content;
    font-size: calc(1rem + 1vw);
    color:whitesmoke;
    text-shadow: #282c34 1px 1px 1px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-room {
    color: #c9c930;
    text-shadow: #282c34 1px 1px 1px ;
}


.navbar-item span {
    color: #ea3a3a;
    text-shadow: #282c34 1px 1px 1px ;
    font-weight: 600;
    margin-left: 10px;
}

.player-info {
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    white-space: nowrap;

}
.avatar-nav {
    width:50%;
    height:100%;
    object-fit: cover;
    border: 3px #c5c561 solid;
    margin-right:1rem;
}
/*.enemy {*/
/*    !*margin-left:5px;*!*/
/*}*/