.create-page {
    /*width: fit-content;*/
    height: 80%;
    width:80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    /*position: absolute;*/
    /*top:30%;*/
    border:1px solid black;
    padding:calc(3rem + 2vw);
    box-shadow: rgba(0, 0, 0, 0.09) 0 2px 1px, rgba(0, 0, 0, 0.09) 0 4px 2px, rgba(0, 0, 0, 0.09) 0 8px 4px, rgba(0, 0, 0, 0.09) 0 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    background: rgba(248, 248, 248, 0.81);
    /*background: rgba(66, 93, 98, 0.83);*/
    background: rgba(40, 55, 56, 0.87);
    border-radius: 20px;
    color: #fffdfd;
    text-shadow: 1px 2px 3px black;
    font-size: calc(10px + 2vw);
}

.create-page form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2vmin;
    box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0 30px 60px -30px, rgba(10, 37, 64, 0.35) 0 -2px 6px 0 inset;
}

.create-page label,.create-page input {
    margin:1rem 0;
}

.create-page input {

    height:fit-content;
    font-size: calc(10px + 1vw);
    color:#655f5f;
}

.avatars-div {
    display:flex;
    justify-content: center;
    align-items: center;


}

.avatar-img-div {
    width:30%;
    height: 100%;
    filter: grayscale(90%);
    transition: 200ms ease-in-out;
    opacity: 0.8;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:.5rem;
}

/*.avatar-img-div label:checked {*/
/*    transition: 1s ease-in-out;*/
/*}*/
.avatar-img-div:hover,.avatar-img-div::selection, .active {
    text-decoration: underline;

    filter: none;
    opacity: 1;

}

.loading-div {
    display: flex;
    justify-content: center;
    align-items: center;
    /*transform: translateY(20px);*/
    white-space: nowrap;
}

. input:checked {
    border:2px yellow solid;
    color:red;
}

.name-input {
    /*margin:20rem*/
}
.name-input-div{
    margin-top:2.5rem;
    width:700px;
}

.avatars-div img{
    transition: 1s ease-in-out;
    width:100%;
    height:100%;
    border:transparent 1px solid;

}
.avatars-div img:hover{

}
.dropDownMenu {
    width:fit-content;
    height: fit-content;
}

.CreateButtons-div {
    width:fit-content;
    display:flex;
    justify-content: center;
    align-items: center;
}