.home-page {
    background: #282c34;
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Kreon', serif;
;
}

.home-menu-divs {
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    /*text-align: center;*/

}
